.fundo{
    background-color: #F8F9FB;
    position: relative;
    height: 100%;
}

.fundo-container{
    padding-top: 20px;
    background-color: white;
    position: relative;
    bottom: 0;
}

.tamanho-18{
    font-size: 18px;

}

.tamanho-14{
    font-size: 14px;

}